@charset "UTF-8";
/* CSS Document */
/*
========================================
Style
========================================
*/
h1 {}
h2 {}
h3 {}
p {}
/*
========================================
Grid
========================================
*/
.jumbotron {
	margin: 20px;
	padding: 20px;
	text-align: center;
}
form {
	margin: 20px; 
	padding: 20px;
	width: 80%;
}
thead {
	font-weight: 700;
}
table {
	padding: 20px;
	margin: 20px 40px;
	border: solid;
	width: 80%;
}
th,
td {
	padding: 10px 5px;
}
td {
	border-top: 2px solid gray;
}